.App {
  text-align: center;
}

.square {
  position: relative;
  border-radius: 12px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  margin-left: 10px;;
}

.square:hover {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);;
}

.square:active {
  transform: translateY(4px);
}

.board-row {
  line-height: 30px;
}

.status {
  line-height: 50px;
  font-size: large;
}